* {
  margin-left: 10px;
}

h2 {
  letter-spacing: 0.7px;
  font-weight: 400;
  font-size: var(--font-size);
  text-transform: uppercase;
  font-weight: bold;
  color: #8367bb;
}
.title {
  color: #8fa1ff;
}
